$duration: .4s !default;

.animation-parent {
  overflow-x: hidden;
}

.animation-item--type--fade-in-right {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
  transition: all ease $duration;
}

.animation-item--type--fade-in-left {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
  transition: all ease $duration;
}

.animation-item--active.animation-item--type--fade-in-right,
.animation-item--active.animation-item--type--fade-in-left, {
  opacity: 1;
  transform: none;
}
