* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
}

body {
  // better font rendering, important e.g. for Safari
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

aside, nav, footer, header, section, main {
  display: block;
}

a,
a:hover {
  text-decoration: none;
}

img, svg {
  max-width: 100%;
  height: auto;
}

img {
  display: block;
  width: 100%;
  object-fit: contain;
  // hide 'alt' while an image is loading
  color: transparent;
}

svg {
  fill: currentColor;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

button, input[type='submit'] {
  display: inline-block;
  box-shadow: none;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}
