.splide {

  // improving performance - display the first slide even a slider isn't loaded
  &:not(.is-initialized) {
    visibility: visible;

    .splide__slide {
      &:first-child {
        width: 100%;
      }

      &:not(:first-child) {
        // don't use display:none, for some reasons it'll create issues
        // (first click by an arrow will move several slides)
        visibility: hidden;
      }
    }
  }

  // with js will solve the different slides height issue
  .splide__list {
    align-items: flex-start;
    // for cases when no rule in inline styles (it happens e.g. on the last slide, etc..)
    transition: height .6s ease;
  }
}
