@use "sass:math";

@mixin transition($time:.5s) {
  transition: all ease $time;
}

@mixin media($screen, $target:'min') {
  @media screen and (#{$target}-width: $screen) {
    @content;
  }
}

@mixin container($maxWidth:1200px,$padding:15px) {
  width: 100%;
  max-width: $maxWidth;
  margin-left: auto;
  margin-right: auto;
  padding-left: $padding;
  padding-right: $padding;
}

@mixin imageFull {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

@function em($pixels, $context) {
  // only 3 digits after the dot
  @return math.div(round(math.div($pixels, $context) * 1em * 1000), 1000);
  //@return $pixels / $context * 1em;
}
